@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles.css */

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: cursive;
}
.dancing-script-500 {
  font-family: "Dancing Script", cursive;
  font-weight: 500;
}

.text-gradient {
  background: linear-gradient(135deg, #6ee7b7, #3b82f6, #9333ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* Standard syntax */
  color: transparent; /* Fallback for older browsers */
}
.text-primary {
  font-family: "Poppins", sans-serif;
}
.buy-now-button {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.buy-now-button:hover {
  background: linear-gradient(135deg, #6ee7b7, #3b82f6, #9333ea);
  color: black;
}

@layer base {
  body {
    @apply bg-black text-neutral-200;
  }
}
.glassmorphism {
  position: relative;
  width: 33%;
  padding: 2rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Blur effect */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light border for definition */
  z-index: 10;
}
/* Hide scrollbars for WebKit browsers */
.no-scrollbar::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar */
  height: 0; /* Hide the scrollbar for horizontal scrolling */
}

.no-scrollbar {
  overflow: -moz-scrollbars-none; /* Hide scrollbar for Firefox */
  /* overflow: hidden; Hide scrollbar for other browsers */
}

/* Optional: Show scrollbar on hover if needed */
.no-scrollbar:hover::-webkit-scrollbar {
  width: 0px;
}

.no-scrollbar:hover {
  overflow: auto;
}
body::-webkit-scrollbar {
  width: 0px;
}
.button-p {
  display: inline-block;
  border: 2px solid white;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition:
    color 0.3s,
    background-color 0.3s;
}

.button-p:hover {
  background: linear-gradient(135deg, #6ee7b7, #3b82f6, #9333ea);

  color: white; /* fallback for older browsers */
}
